*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;

}

#main{
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.card{
    height: 200px;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    
}

#card1{
    z-index: 4;
    transform: translate(-50%, -50%); 
    background-color: salmon;

}

#card2{
    z-index: 3;
    transform: translate(-50%, -50%) rotate(-10deg);
    background-color: blue;
}

#card3{
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-20deg);
    background-color: green;
}

#card4{
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-30deg);
    background-color: yellow;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card1:hover{
    z-index: 10;
}

#card2:hover{
    z-index: 10;
}

#card3:hover{
    z-index: 10;
}

#card4:hover{
    z-index: 10;
}